<app-dashboard-header role="employee"></app-dashboard-header>
<div class="container-fluid">
  <div class="row">
    <!-- side-nav -->
    <div class="col-3">
      <div class="mt-3">
        <div class="list-group">
          <a *ngFor="let tab of tabs; let i = index;" [attr.data-index]="i"
            class="list-group-item list-group-item-action" [class.active]="selectedTab === i"
            (click)="changeTab(i)">{{tab}}</a>
        </div>
      </div>
    </div>

    <!-- tab-content -->
    <div class="col-8">
      <div class="mt-3">
        <div class="tab-content">
          <div class="tab-pane fade show active" *ngIf="selectedTab == 0">
            <app-create-customer></app-create-customer>
          </div>
          <div class="tab-pane fade show active" *ngIf="selectedTab == 1">
            <app-create-account></app-create-account>
          </div>
          <div class="tab-pane fade show active" *ngIf="selectedTab == 2">
            <app-delete-customer></app-delete-customer>
          </div>
          <div class="tab-pane fade show active" *ngIf="selectedTab == 3">
            <app-view-customer></app-view-customer>
          </div>
          <div class="tab-pane fade show active" *ngIf="selectedTab == 4">
            <app-deposit-amount></app-deposit-amount>
          </div>
          <div class="tab-pane fade show active" *ngIf="selectedTab == 5">
            <app-service-charge-deduction></app-service-charge-deduction>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>