<app-dashboard-header role="employee"></app-dashboard-header>
<div class="container-fluid ">
  <div class="row">
    <!-- side-nav -->
    <div class="col-3">
      <div class="mt-3">
        <div class="list-group drop-shadow-xl rounded-lg">
          <div class="mb-2 flex justify-center">
            <img src="https://img.freepik.com/premium-vector/user-icon_126283-435.jpg?w=2000" class="h-40 w-40 rounded-full" alt="">
          </div>
          <div class="mb-2">
            <p class="text-lg font-semibold flex justify-center">Welcome, Alex</p>
          <p class="font-semibold flex justify-center">Employee</p>
          </div>
          <a *ngFor="let tab of tabs; let i = index;" [attr.data-index]="i"
            class="list-group-item list-group-item-action rounded-lg m-1 transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-x-105 hover:bg-indigo-500 duration-300" [class.active]="selectedTab === i"
            (click)="changeTab(i)">{{tab}}</a>
        </div>
      </div>
    </div>

    <!-- tab-content -->
    <!-- <div class="w-full max-w-xs">
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
            Username
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username">
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
            Password
          </label>
          <input class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************">
          <p class="text-red-500 text-xs italic">Please choose a password.</p>
        </div>
        <div class="flex items-center justify-between">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
            Sign In
          </button>
          <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
            Forgot Password?
          </a>
        </div>
      </form>
      <p class="text-center text-gray-500 text-xs">
        &copy;2020 Acme Corp. All rights reserved.
      </p>
    </div> -->



    <div class="col-8">
      <!-- <div class="mb-2 mt-3 flex justify-center">
        <img src="https://as1.ftcdn.net/v2/jpg/02/54/80/56/1000_F_254805632_HgiyyLs0mYHHSXht28O0s3dXvH1U26HA.jpg" class="h-24 ml-4 w-full" alt="">
      </div> -->
      <div class="mt-3 ml-4 mb-8 bg-white shadow-lg rounded-lg transition ease-in-out delay-150 bg-blue-500 hover:translate-y-1 hover:scale-105 hover:bg-indigo-500 duration-300">
        <div class="tab-content p-4 ">
          <div class="tab-pane fade show active" *ngIf="selectedTab == 0">
            <app-create-customer class=""></app-create-customer>
          </div>
          <div class="tab-pane fade show active" *ngIf="selectedTab == 1">
            <app-create-account></app-create-account>
          </div>
          <div class="tab-pane fade show active" *ngIf="selectedTab == 2">
            <app-delete-customer></app-delete-customer>
          </div>
          <div class="tab-pane fade show active" *ngIf="selectedTab == 3">
            <app-view-customer></app-view-customer>
          </div>
          <div class="tab-pane fade show active" *ngIf="selectedTab == 4">
            <app-deposit-amount></app-deposit-amount>
          </div>
          <div class="tab-pane fade show active" *ngIf="selectedTab == 5">
            <app-service-charge-deduction></app-service-charge-deduction>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>