<div class="fluid-container" style="margin: 0%">
  <div class="row align-items-center">
    <div class="col-5 vh-100 d-flex justify-content-center align-items-center">
      <app-login-form></app-login-form>
    </div>
    <div class="col-7 right vh-100 d-flex justify-content-center align-items-center">
      <div class="side-image p-2">
        <div class="container w-100 align-center mb-4">
          <p class="display-1 text-light"><strong>bank.co</strong></p>
          <p class="h4 text-light p-1">Small steps to a better future</p>
        </div>
        <div class="container card-group">
          <!-- card-1 -->
          <div class="card border-light">
            <div class="card-body p-5 my-10 text-center">
              <i class=" fa fa-map-marker text-center" style="color:white; font-size: 3em;"></i>
              <br><br>
              <h5 class="card-title"><strong>Locate Us</strong></h5>
              <p class="card-text">You are never too far away from quick,
                efficient banking services.</p>
            </div>
          </div>

          <!-- card-2 -->
          <div class="card border-light">
            <div class="card-body p-5 my-10 text-center">
              <i class="fa fa-phone text-center" style="color:white; font-size: 3em;"></i>
              <br><br>
              <h5 class="card-title"><strong>Call Us</strong></h5>
              <p class="card-text">In case you wish to speak to our phone
                banking officer for urgent resolution.</p>
            </div>
          </div>

          <!-- card-3 -->
          <div class="card border-light">
            <div class="card-body p-5 my-10 text-center">
              <i class=" fa fa-pencil text-center" style="color:white; font-size: 3em;"></i>
              <br><br>
              <h5 class="card-title"><strong>Write to Us</strong></h5>
              <p class="card-text">Be it an enquiry, feedback or a simple
                suggestion, write to us & we'll get back to you.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>