<app-dashboard-header role="customer"></app-dashboard-header>
<div class="container-fluid">
  <div class="row">
    <!-- side-nav -->
    <div class="col-3">
      <div class="mt-3">
        <div>
          <div class="mb-2 flex justify-center">
            <img src="https://img.freepik.com/premium-vector/user-icon_126283-435.jpg?w=2000"
              class="h-40 w-40 rounded-full" alt="">
          </div>
          <div class="mb-2">
            <p class="text-lg font-semibold flex justify-center">Welcome, {{name}}</p>
            <p class="font-semibold flex justify-center">CUSTOMER</p>
          </div>
          <div class="list-group">
            <a *ngFor="let tab of tabs; let i = index;" [attr.data-index]="i"
              class="list-group-item list-group-item-action rounded-lg m-1 transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-x-105 hover:bg-indigo-500 duration-300"
              [class.active]="selectedTab === i" (click)="changeTab(i)">{{tab}}</a>
          </div>
        </div>
      </div>
    </div>

    <!-- tab-content -->
    <div class="col-8">
      <div
        class="mt-3 ml-4 mb-8 bg-white shadow-lg rounded-lg transition ease-in-out delay-150 bg-blue-500 hover:translate-y-1 hover:scale-105 hover:bg-indigo-500 duration-300">
        <div class="tab-content p-4">
          <div class="tab-pane fade show active" *ngIf="selectedTab == 0">
            <app-customer-details [customer]="customer"></app-customer-details>
          </div>
          <div class="tab-pane fade show active" *ngIf="selectedTab == 1">
            <app-transaction-details [customerId]="customerId"></app-transaction-details>
          </div>
          <div class="tab-pane fade show active" *ngIf="selectedTab == 2">
            <app-withdraw-amount [customer]="customer"></app-withdraw-amount>
          </div>
          <div class="tab-pane fade show active" *ngIf="selectedTab == 3">
            <app-transfer-amount [customer]="customer"></app-transfer-amount>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>